:root {
    --font-size: 16px;
    --font-family: 'Rubik', sans-serif;

}

body {
    text-align: center;
}

.header {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.logo {
    width: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    font-size: var(--font-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.link{
    font-size: var(--font-size);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font-family);
    padding: 10px;
    color:#4a4a4a;
    font-weight: 500;
}

.main {
    height: 100vh;
    background-color: #3CDBC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    color: #FFF;
    word-spacing: 100vw;
    
}

@media all and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        left: 30px;
    }

    .menu {
        position: relative;
        right: 30px;
    }

    .link {
        font-size: var(--font-size);
    }

    .title{
        text-align: center;
        font-size: 40px;
    }

}