:root {
    --font-size: 16px;
    --font-family: 'Rubik', sans-serif;

}

body {
    background-color: #3CDBC0;
    text-align: center;
}

.logo {
    width: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.menu {
    font-size: var(--font-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.link{
    font-size: var(--font-size);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font-family);
    box-sizing: content-box;
    padding: 10px;
    color: grey;
    font-weight: 500;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    color: #FFF;
    position: relative;
    top: 350px;
    
}

@media all and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        left: 30px;
    }

    .menu {
        position: relative;
        right: 30px;
    }

    .link {
        font-size: var(--font-size);
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        text-align: center;
        font-size: 40px;
    }

}